

.center {
	text-align: center;
}

#col1 {
	float:left;
	width: 20%;
	background-color: #008080;
  	padding: 10px;
}

#col2{
	
	width: 60%;
}
#col3 {
	float:right;
	width: 20%;
	background-color: #008080;
  	padding: 10px;
}